* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

#welcome {
  display: grid;
  grid-template-columns: 475px 1fr;
  width: 100%;
  height: 100vh;
}

.welcome-menu {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(156, 156, 156, 1) 100%
  );
  padding: 20px 50px 0 50px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.logo img {
  max-width: 100%;
}

.menu {
  margin: 6rem 0;
}

.menu-item {
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  margin-bottom: 1.3rem;
  display: block;
  transition: color 0.4s ease-in-out;
}

.menu-item a:hover {
  color: red;
}

.menu-button {
  display: flex;
  background-color: #ee3224;
  padding: 0.2rem;
  font-size: 1.6rem;
  border-radius: 10px;
  margin-bottom: 1.3rem;
  transition: transform 0.4s ease-in-out;
}

.menu-button a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.menu-button:hover {
  background-color: rgb(154, 33, 24);
  transform: scale(1.1);
}

.social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.social-icons a {
  margin-right: 5px;
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.25);
}

.location {
  line-height: 1.3rem;
}

.address {
  margin-bottom: 1rem;
}

.phone-number a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.welcome-image {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: cover;
}

.welcome-image img {
  min-width: 800px;
  max-width: 100%;
}
